body{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    color: blue;
    text-align: center;
}
span{
    color: green;
    /*text-align: center;*/
    /*span 태그는 인라인 요소이다
    인라인 요소의 크기는 컨텐츠의 크기와 일치한다
    딱맞는 칸에 들어간 요소가 정렬될 수 없다
    인라인 요소는 text-align이 불가능하다*/

}

div{
    background-color: black;
    text-align: right;
    color: rgb(rgb(190, 190, 190), green, blue);
}

.phone-number{
    font-size: 35px;
    background-color: aqua;
    font-weight: bold;
}

.my-list{
    list-style-type: none;
    /*list-style-type 속성은 리스트 앞에 표현하는 도형이나 숫자*/
}